.env
__pycache__/
*.pyc
venv/
*.db
discloud.config
backup-bot-koneca.zip
.vscode-server/
.cache/
.bash_history
.bash_logout
.bashrc
.bashrc
.profile
.gitconfig
.ssh/
.sudo_as_admin_successful
.wget-hsts
.vscode-server/
backup-bot-koneca.zip
discloud.config
